{% extends 'components/master.html' %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Enregistrement d'un Contrat</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form  action="{% url 'Contrat_store' %}" method="POST" >
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Nom du contrat</label>
                  <input type="text" class="form-control" placeholder="Entrer nom du contrat ..." name="nom_contrat">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Date de debut</label>
                  <input type="date" class="form-control" placeholder="Entrer date debut ..." name="dateDebut">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Date de fin</label>
                  <input type="date" class="form-control" placeholder="Entrer date de fin ..." name="dateFin">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Nom du client</label>
                  <input type="text" class="form-control" placeholder="Enter ..." name="client_id">
                </div>
              </div>
            </div>
            <div >
                <button type="submit" class="btn btn-primary">Enregister</button>
              </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}