{% extends 'components/master.html' %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">{% if edit %} Mise à jour d'un contrat {% else %}  Enregistrement d'un contrat  {% endif %}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form  action="{% url 'Contrat_store' %}" method="POST" >
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Nom du contrat</label>
                  <input type="text" class="form-control"  {% if edit %} value= " {{ nom_contrat }} "  {% endif %} placeholder="Entrer nom du contrat ..." name="nom_contrat">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Date de debut</label>
                  <input type="date" class="form-control"  {% if edit %} value="{{dateDebut}}"  {% endif %}placeholder="Entrer date debut ..." name="dateDebut">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Date de fin</label>
                  <input type="date" class="form-control"  {% if edit %} value="{{dateFin}}"  {% endif %} placeholder="Entrer date de fin ..." name="dateFin">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                </div>
              </div>
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Nom du client *</label>
                  {% comment %} <input type="text" class="form-control" placeholder="Enter ..." name="client_id"> {% endcomment %}
                  <select  class="form-control" name="client_id" aria-label="Default select example" >
                    {% if edit %}  <option value="{{ id_client }} " selected>{{ nom_client }} {{ prenom_client }} </option>{% endif %}
                    <option>Selectionnez le client</option>
                    {% for element in data %}
                    <option  value=" {{ element.id }} ">{{ element.nom_client}} {{ element.prenom_client}}</option>
                    {% endfor %}
                  </select>
                  <input type="text" class="invisible" {% if edit %} value= " {{ id_contrat }} "{% endif %}  name="id_contrat">
                </div>
              </div>
              <div class=" text-center justify-content-center bt-5" >
                <button type="submit" class="btn btn-primary">{% if edit %} Mettre à jour {% else %}  Enregistrer  {% endif %}</button>
              </div>

            </div>

          </form>
        </div>
        <!-- /.card-body -->
      </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  {% endblock content %}