{% extends 'components/master.html' %}
{% load static %}

{% block content %}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          {% for element in data %}
          <div class="col-sm-6">
            <h1>Détails du contrat {{ element.nom_contrat}} </h1>
          </div>
          {% endfor %}
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Contrats</a></li>
              <li class="breadcrumb-item active">Détails</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                  <a href="{% url 'Contrat_create' %}" class="btn btn-primary">Ajouter un contrat</a>
              </div>
              <!-- /.card-header -->
              
              {% for element in data %}
                <div class="card-body">
                  <div class="col-md-12">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Nom du Client : {{ element.nom_client}} </h3>
                        <h3 class="widget-user-username">Prenom du Client : {{ element.prenom_client}}</h3>
                        <h5 class="widget-user-desc">-----------</h5> <br>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col-sm-4 border-right">
                            <div class="description-block">
                              <h5 class="description-header">{{ element.dateDebut }}</h5>
                              <span class="description-text">date de debut</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                          <div class="col-sm-4 border-right">
                            <div class="description-block">
                              <h5 class="description-header">{{ element.dateFin }}</h5>
                              <span class="description-text">date de fin</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                          <div class="col-sm-4">
                            <div class="description-block">
                              <h5 class="description-header">{{ element.created_at }}</h5>
                              <span class="description-text">Date d'Enregistrement</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>
                    </div>
                    <!-- /.widget-user -->
                  </div>
                  <!-- /.col -->
                </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h2>Liste des panneaux associés à ce contrat</h2>
              </div>
              <!-- /.card-header -->

                <div class="card-body">
                  <div class="col-md-12">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="col-12">
                        <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>Nom du panneau</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element2 in data2 %}
                        <tr>
                        <td>{{ element2.id }}</td>
                        <td>{{ element2.nom_panneau }}</td>
                        <td>
                          <a href="{% url 'Panneau_desallouer' element2.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                        </tr>
                        {% endfor  %}
                        </tbody>
                        </table>
                        </div>
                        
                        </div>
                        
                        </div>
                    
                      </div>
                      {% comment %} la liste des panneau non occupés {% endcomment %}
                      <div class="col-12">
                        <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <div class="card-header">
                            <h2>Liste des panneaux Libres</h2>
                          </div>
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>Nom du panneau</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element3 in data3 %}
                        <tr>
                        <td>{{ element3.id }}</td>
                        <td>{{ element3.nom_panneau }}</td>
                        <td>
                          <form method="post" action= {% url 'Panneau_allouer'  %}>
                            {% csrf_token %}
                            <input type="text" class="invisible" value= " {{ element.id }} "  name="id_panneau">
                            <input type="text" class="invisible" value= " {{ element3.id  }} "  name="id_contrat">
                            <button type="submit" class="btn btn-success"><i class="far fa-plus-square"></i></a>
                          </form>
                        </td>
                        </tr>
                        {% endfor  %}
                        </tbody>
                        </table>
                        </div>
                        
                        </div>
                        
                        </div>
                    
                      </div>
                    <!-- /.widget-user -->
                  </div>
                  <!-- /.col -->
                </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  {% endfor %}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock content %}