{% extends 'components/master.html' %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Les Contrats en cours</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Contrats</a></li>
              <li class="breadcrumb-item active">Liste Contrats</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des contrats et leur progression</h3>
                <div class="card-tools">
                  <ul class="pagination pagination-sm float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nom du contrat</th>
                      <th>Date de debut</th>
                      <th>Date de fin</th>
                      <th>Progression</th>
                      <th style="width: 40px">Pourcentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Update software</td>
                      <td><span class="badge bg-danger">10/10/2023</span></td>
                      <td><span class="badge bg-danger">10/10/2024</span></td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-danger">55%</span></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div><!-- /.container-fluid -->

      <div class="card-body">
        <a href="{% url 'Contrat_create' %}" class="btn btn-primary">Ajouter un Contrat</a>
        <span class="bg-danger.bg-gradient"> {{ reponse_del_req }} </span>
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>nom du contrat</th>
              <th>nom du Client</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for element in data %}
          <tr>

            <td>{{ element.nom_contrat}}</td>
            <td>  {{  element.client_id }}  </td>
            <td>{{ element.dateDebut}}</td>
            <td>{{ element.dateFin}}</td>
            <td>
              {% comment %} <a href="{% url 'detail'  %}" class="btn btn-primary"><i class="far fa-eye"></i></a>
              <a href="{% url 'edit' 1 %}" class="btn btn-success"><i class="fas fa-edit"></i></a>{% endcomment %}
              <a href="{% url 'Contrat_delete' element.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
      <!-- /.card-body -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}