{% extends 'components/master.html' %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">{% if edit %} Mise à jour d'un panneau {% else %}  Enregistrement d'un panneau  {% endif %}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form  action="{% url 'Panneau_store' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Nom du panneau</label>
                  <input type="text" class="form-control" placeholder="Entrer nom du panneau ..." {% if edit %} value= "{{nom_panneau}}"{% endif %} name="nom_panneau">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Longitude</label>
                  <input type="text" class="form-control" placeholder="Entrer longitude ..." {% if edit %} value= "{{longitude}}"{% endif %} name="longitude">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Latitude</label>
                  <input type="text" class="form-control" placeholder="Entrer latitude ..." {% if edit %} value= "{{ latitude }}"{% endif %} name="latitude">
                </div>
              </div>
              <input type="text" class="invisible" {% if edit %} value="{{id_panneau}}"{% endif %}  name="id_panneau">
            </div>
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Nom du Contrat *</label>
                {% comment %} <input type="text" class="form-control" placeholder="Enter ..." name="client_id"> {% endcomment %}
                <select  class="form-control" name="contrat_id" aria-label="Default select example">
                  <option selected>Selectionnez le contrat</option>
                  {% for element in data %}
                  <option  value=" {{ element.id }} ">{{ element.nom_contrat}}</option>
                  {% endfor %}
                </select>
                <input type="text" class="invisible" {% if edit %} value= " {{ id_contrat }} "{% endif %}  name="id_contrat">
              </div>
            </div>
            <div class=" text-center justify-content-center bt-5">
              <button type="submit" class="btn btn-primary">{% if edit %} Mettre à jour {% else %}  Enregistrer  {% endif %}</button>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}