{% extends 'components/master.html' %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste des clients</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Clients</a></li>
              <li class="breadcrumb-item active">liste clients</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                  <a href="{% url 'Client_create' %}" class="btn btn-primary">Ajouter un client</a>
                  <span class="bg-danger.bg-gradient"> {{ reponse_del_req }} </span>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>nom</th>
                      <th>prenom</th>
                      <th>adresse e-mail</th>
                      <th>Entreprise</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for element in data %}
                  <tr>

                    <td>{{ element.nom_client}}</td>
                    <td>{{ element.prenom_client}}</td>
                    <td>{{ element.email_client}}</td>
                    <td>{{ element.entreprise_client}}</td>
                    <td>
                      <a href="{% url 'Client_detail' element.id %}" class="btn btn-primary"><i class="far fa-eye"></i></a>
                      <a href="{% url 'Client_edit' element.id %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                      <a href="{% url 'Client_delete' element.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}